{% extends 'base.html' %}

{% block content %}
  <a class="btn btn-info" href="{{ url_for('init-db') }}" onclick="showAwaitScreen()" role="button">Buscar planetas</a>
  <a class="btn btn-success" href="{{ url_for('planets') }}" role="button">Listar planetas</a>
  <!-- Modal -->
  {% include "planet/await_modal.html" %}
{% endblock %}
{% block scripts %}
  {{ super() }}
  <script>
    function showAwaitScreen() {
      const await_modal = $('#await_modal').modal({backdrop: 'static', keyboard: false});
      await_modal.modal('show');
    }
    $(document).ready(function(){
      await_modal.modal('hide');
    });
  </script>
{% endblock %}
