{% extends 'base.html' %}

{% block header %}{% endblock %}

{% block content %}
  <br>
  <table id="data_table" class="display" style="width:100%">
    <thead>
    <tr>
      <th>Nome</th>
      <th>Clima</th>
      <th>População</th>
    </tr>
    </thead>
  </table>
{% endblock %}
{% block scripts %}
  {{ super() }}
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>

  <script type="text/javascript">
    data = JSON.parse({{ planets | tojson }});
    $(document).ready(function () {
      $("#data_table").DataTable({
        data: data,
        columns: [
          {data: 'name'},
          {data: 'climate'},
          {data: 'population'},
        ],
      });
    });
  </script>
{% endblock %}
